*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.addForm div:not(.addForm div:last-of-type){
  width:100%;
  max-width:30rem;
  display:grid !important;
  grid-template-columns:20% 80%
}
.addForm label{
  font-weight:700;
}
textarea{
  height:6rem;
  overflow:auto;
  resize:none !important;

}
.card{
  width:20rem;
  box-shadow:3px 5px 5px grey;
}
.post-header{
  width:80%;
  width:25rem;
  text-shadow:1px 1px 5px grey;
  border-radius:60px 0px 60px 0px;
}
.title{
  text-overflow: ellipsis;
  overflow: hidden;     
  white-space: nowrap;
}
.content{
  text-overflow: ellipsis;
  overflow: hidden;     
  white-space: nowrap;
}
.details{
  width:80% !important;
}

.details-content{
  word-wrap:break-word!important;
  text-indent:30px;
  height:15rem !important;
  overflow:auto;
}
.btn-div button{
  width:10rem;
}